r-base 
r-caret 
r-crayon 
r-devtools 
r-e1071 
r-forecast 
r-hexbin 
r-htmltools 
r-htmlwidgets 
r-irkernel 
r-nycflights13 
r-randomforest 
r-rcurl 
r-rmarkdown 
r-rodbc 
r-rsqlite 
r-shiny 
r-tidymodels 
r-tidyverse 
rpy2 
jupyterhub 
jupyter-server-proxy 
jupyter-rsession-proxy 
jupyter-vscode-proxy 
pycuda 
jupyterlab-nvdashboard 
code-server 
unixodbc
dask-labextension
cf-nvidia-tools
cupy
